{% extends "base.html.twig" %}

{% block body %}
    <br>
    <div class="col-sm-3">
        {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_row(form.releaseOn) }}
        {{ form_end(form) }}
    </div>
    <br>
{% endblock %}